.form-control
input[type=number], 
input[type=password],
input[type=text],
input[type=email],
input[type=select],
input[type=phone] {
	border-radius: 0px !important;
}
.btn, .input-group-addon {
	border-radius: 0px !important;
}
.input-group-addon .fa {
	width: 11px !important;
}
.r-icon-stats#leftmainicons {
	display: block !important;
    text-align: center !important;
    background-color: #25aae1 !important;
    padding: 10px !important;
	color: #fff !important;
}
 .white-box#wb {
	padding: 0px 25px;
	cursor: pointer;
 }
 .checkbox label {
	     font-size: 13px;
 }
#wb:hover
{
	transform: scale(1.1);
	transition: all 400ms ease-in;
	transition: all 400ms ease-out;
}
.img-circle#dbuserimg {
	width: 70px !important;
    margin: 0 auto !important;
    display: block !important;
}
.sidebar #side-menu .user-pro>a {
    padding: 15px !important;
}
.sidebar #side-menu .user-pro .arrow {
    top: 20px !important;
    right: 35px !important;
}

#pad-mar {
		margin-top: 20px;
		border-top: 2px solid #eee;
		padding-top: 20px;
	}

@media (min-width:961px) and (max-width: 1960px) {
	#minheight-row {
		min-height: 600px;
	}
	.mar {
		    margin: 20px 0;	
	}
	#pad-deskonly {
		padding: 40px;
	}
	#equal-margin {
		margin: 20px 0px;
	}

	#whitebox-minh {
		    min-height: 480px !important;
	}
	#pdcontacus, #buycredits {
		margin-right: 10px;
	}
	.btn-primary#ctbtn {
		display: block !important;
		text-align: center !important;
		margin: 0 auto !important;
		border-radius: 5px !important;
		background-color: #ccc !important;
		color: #111 !important;
		border: 0px solid #111 !important;
		font-weight: 100 !important;
		font-size: 14px !important;
	}
	.btn-success#orgbtn span { 
		color: #fff !important;
		font-size: 9px;     
		margin-left: 20px;
	}
	.btn-success#orgbtn{ 
		display: block !important;
		text-align: center !important;
		margin: 0 auto !important;
		border-radius: 5px !important;
		background-color: #449d44 !important;
		color: #fff !important;
		border: 0px solid #111 !important;
		font-weight: 100 !important;
		font-size: 14px !important;
		width: 100% !important;
	}
	.middle-content {
		width: 500px !important;
		margin: 0 auto !important;
	}
}
@media (min-width:320px) and (max-width: 960px) {
	.btn-primary#ctbtn {
		display: block !important;
		text-align: center !important;
		border-radius: 5px !important;
		background-color: #ccc !important;
		color: #111 !important;
		border: 0px solid #111 !important;
		font-weight: 100 !important;
		font-size: 11px !important;
		white-space: initial !important;
	}
	.btn-success#orgbtn span { 
		color: #fff !important;
		font-size: 9px;     
		margin-left: 0px !important;
	}
	.btn-success#orgbtn{ 
		display: block !important;
		text-align: center !important;
		border-radius: 5px !important;
		background-color: #449d44 !important;
		color: #fff !important;
		border: 0px solid #111 !important;
		font-weight: 100 !important;
		font-size: 10px !important;
		white-space: initial !important;
	}
	.navbar-header .navbar-toggle {
		float: right !important;
	}
	.logo img {
		width: 160px !important;
	}
	.right-side-toggle #pdcu, .right-side-toggle #bcc {
		 margin-right: 10px !important;
	}
	#pdcontacus, #buycredits {
		margin-right: 0px !important;
	}
	#pdcontacus, #buycredits {
		margin: 0px !important;
		padding: 0px 5px !important;		
	}
	#pdcontacus {
		margin-right: 15px !important;
	}
	
	
}
#wb div:hover {
	    background-color: #f44336 !important;
}
#createTeam .modal-content {
    padding: 20px !important;
}
#createTeam .modal-header {
    padding: 10px !important;
    border-bottom: 0px solid #e5e5e5 !important;
}
#createTeam .modal-footer {
    
    border-top: 0px solid #e5e5e5 !important;
}
#marginbottom {
    margin-bottom: 10px !important;
}
select#privacylevel {
	width: 100% !important;
    background-color: #ffffff !important;
    border: 1px solid #e4e7ea !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    color: #565656 !important;
    height: 38px !important;
    max-width: 100% !important;
    padding: 7px 12px !important;
    transition: all 300ms linear 0s !important;
}
#tcancel, #mcancel {
	background-color: #fff !important;
    margin-right: 5px !important;
    border: 1px solid #f36a6f !important;
    color: #f36a6f !important;
}
#tcreate, #mcreate{
	 background-color: #25aae1 !important;
	 padding: 10px !important;
	 border: 1px solid #25aae1 !important;
}

#leftmainicons img {
	width: 55px !important;
    text-align: center;
    display: block;
    margin: 0 auto;
}
#pdcontacus, #buycredits {
	border: 1px solid #fff;
    min-height: 30px;
    line-height: 30px;
    position: relative;
    top: 13px;
}
@media (min-width: 768px) {
	.content-wrapper .top-left-part {
		width: 220px !important;
	}
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
    color: #25aae1 !important;
}
.col-centered{
float: none !important;
margin: 0 auto;
}

ul#nav li a.active:after {
	content: url(../img/down-arrow.jpg) !important;
    position: relative !important;
    top: 28px !important;
    right: 50px;
		}
		
 #bvcform {		
	background-color: #eee;
    padding: 20px;
}